@import "tailwindcss";

:root {
  --background: #00163b;
  --foreground: #ffffff;
  --base-color: #333333;
  --accent-color: #bcff32;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent-color);
  --color-base: var(--base-color);

  --font-title: ten-mincho-text, serif;
  --font-body: fot-tsukumin-pr6n, sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  visibility: hidden;
}
html.wf-active {
  visibility: visible;
}

body {
  background: var(--background);
  color: var(--foreground);
}
